.Main-wrapper {
    gap: 4px;
    height: 100vh;
    overflow: auto;
}

.Main-wrapper::-webkit-scrollbar {
    display: none;
}

/*---------> Left Side  */
.left-side {
    position: relative;
    padding-top: 10px;
    padding-left: 15px;
    position: sticky;
    top: 0;
    height: 100vh;
    min-width: 207px;
    width: 20%;
    background: white;
    overflow-y: auto;
}

.left-side .Option-items {
    padding-bottom: 5px;
    margin: auto 7px;
    margin-bottom: 6px;
    border-bottom: 2px solid gainsboro;
}

.left-side .Option-items:nth-last-child(1) {
    border-bottom: none !important;
}

.left-side .Option-items .main-value {
    gap: 10px;
    font-size: 14px;
    letter-spacing: .30px;
    font-weight: 500;
    margin-bottom: 2px;
    color: rgb(86, 83, 83);
}

.left-side .option-title {
    color: rgb(64, 63, 63);
    font-weight: 700;
    letter-spacing: .30px;
    font-size: 16px;
    margin-bottom: 4px;
}

.left-side .Option-items .main-value .checkbox {
    width: 15px;
}

.left-side svg{
    position: absolute;
    top: 10px; 
    display: none;
    right: 10px;
    color: var(--primary-color);
    font-size: 30px; 
}

.Option-items .main-value select {
    font-weight: 500;
    letter-spacing: .30px;
}

.Option-items .main-value select option {
    font-weight: 500;
    color: rgb(64, 63, 63);
    letter-spacing: .30px;
}

.filter-options {
    padding: 0 10px;
}

.filter-options svg{
    color: var(--primary-color);
    display: none;
    font-size: 30px;
    font-weight: bold;
}

.visible-filter-menu {
    display: block !important;
    position: fixed;
    z-index: 99;
}
 


/*--------> Right Side  */
.right-side {
    width: 100%;
    background: transparent;
}

.right-side .infinite-scroll-component__outerdiv {
    width: 100%;
}


#productContainer {
    padding-top: 20px;
    padding-bottom: 50px;
}

#productContainer .allProduct-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, auto));
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
}

#productContainer .allProduct-wrapper .productItems {
    width: 100%;
    max-width: 255px;
    height: 340px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0px 6px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.allProduct-wrapper .productItems .product-image {
    width: 100%;
    height: 200px;
    transition: .3s ease-in-out;
}

.allProduct-wrapper .productItems .product-image:hover {
    transform: scale(1.08);
}

.productItems .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-text {
    margin-top: 2px;
    font-size: 15px;
}

.product-text .product-title {
    text-decoration: none;
    width: 100%;
    font-size: 15px;
    color: rgb(29, 28, 28);
    font-weight: 500;
    letter-spacing: .30px;
    margin: 4px auto;
    line-height: 1.1;
}




.product-text .oldPrice {
    text-decoration: line-through;
}

.product-discount {
    color: green;
    font-weight: 400;
    letter-spacing: .30px;
}

.product-ratings {
    letter-spacing: .30px;
    padding-bottom: 3px;
}


.result-title {
    font-weight: 500;
    color: rgb(28, 27, 27);
    letter-spacing: .30px;
    margin-bottom: 8px;
}

 

.color-wrapper {
    gap: 6px;
}

.colorItems {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(103, 101, 101);
}

/* Loader  */
.main-loading-wrapper {
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}


.main-loading-wrapper img {
    width: 120px;
}



.infinite-loader img {
    width: 70px;
}


/* Skeleton Loader */
  .skelton-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
} 

.skeleton-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px;
    max-width: 300px;
    width: 285px;
    height: 350px;
} 

.skeleton-image {
    background-color: #e0e0e0;
    height: 200px;
    width: 100%;
    animation: shimmer 1.5s infinite;
}

.skeleton-text {
    padding: 10px;
}

.skeleton-title,
.skeleton-price {
    background-color: #e0e0e0;
    height: 20px;
    margin: 10px 0;
    width: 80%;
    animation: shimmer 1.5s infinite;
}

.skeleton-price {
    width: 60%;
}

.skeleton-ratings {
    background-color: #e0e0e0;
    background-position: 100px;
    height: 15px;
    width: 50%;
    margin-top: 10px;
    animation: shimmer 1.5s infinite alternate;
}

@keyframes shimmer {
    0% {
        background-position: -500px 0;
        background: #c7c6c6;
    }

    100% {
        background-position: 200px 0;
    }
}




/*---------- Ending Defining Utility classes -------  */







/* --------- Starting Responsiveness  --------- */

@media(max-width:787px) {
    #productContainer .allProduct-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    }

}

@media(max-width:687px) {
    #productContainer .allProduct-wrapper {
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    }

    #productContainer .allProduct-wrapper .productItems {
        max-width: 300px;
    }

}


@media(max-width:595px) {
    #productContainer .allProduct-wrapper {
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    #productContainer .allProduct-wrapper .productItems {
        max-width: 280px;
    }

    .product-text {
        font-size: 13px;
    }
}


@media(max-width:428px) {
    #productContainer .allProduct-wrapper {
        gap: 6px;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    }

    #productContainer .allProduct-wrapper .productItems {
        max-width: 180px;
    }
}

@media(max-width:383px) {
    #productContainer .allProduct-wrapper {
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(168px, auto));
    }

    #productContainer .allProduct-wrapper .productItems {
        max-width: 168px;
    }
}

@media(max-width: 752px){
    .filter-options svg{
        display: block;
    }
    .left-side{
        display: none;
        width: 100%;
    }
    .left-side svg {
        display: block;
    }
}
@media(max-width: 425px){
    #productContainer .allProduct-wrapper .productItems {
        max-width: 200px;
    }
    #productContainer .allProduct-wrapper {
        gap: 2px
    }

}

@media(max-width: 548px){
.skeleton-card{
    width: 45%;
}
}

/* --------- Ending Responsiveness  --------- */

