*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}


:root {
  --primary-color: rgb(240, 38, 146);
}

body,
html {
  width: 100%;
  overflow-x: hidden;
  background: rgb(244, 240, 240);
  /* scroll-behavior: smooth; */
}


/*---------- Staring Defining Utility classes -------  */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.primary-width {
  width: 98%;
}

.mx-auto {
  margin: auto;
}

.primary-hover {
  transition: .2s ease-in-out;
}

.primary-hover:hover {
  color: rgb(240, 38, 146);
}

.cursor-pointer {
  cursor: pointer;
}

.common-icon {
  font-size: 22px;
  color: var(--primary-color);
}

.common-icon:hover {
  font-size: 21px;
}



 
 