.Top-Products {
    margin-top: 15px;
}

.Top-Products-wrapper {
    padding: 5px auto;
    background: white;
    overflow-x: auto;
    justify-content: flex-start;
    position: relative;
    gap: 2px;
}


.Top-Products-wrapper .Top-Products-Items {
    height: fit-content;
    padding: 4px;
    margin-top: 3px; 
    min-width: 170px;
    max-width: 200px;
    cursor: pointer;
    position: relative;
}


.Top-Products-Items .product-img {
    height: 155px;
    width: 100%; 
}

 

.Top-Products-Items h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: rgb(42, 41, 41);
}

.Top-Products-Items .product-desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
}

.price-wrapper {
    gap: 10px;
    margin: 3px auto;
}

.price-wrapper .oldPrice {
    text-decoration: line-through;
}

.Top-Products-Items .currentPrice,
.oldPrice {
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
}

.Top-Products-Items .product-discount {
    color: green; 
    font-weight: 500;
    position: absolute;
    font-size: 14px;
    top: 3px;
    right: -5px;
}

.Top-Products-Items p {
    line-height: 1.1;
    font-size: 14px;
}



.slider-icn-wrapper {
    float: right;
    margin-bottom: 7px;
}

.slider-icn-wrapper {
    gap: 7px;
}

.slider-buttons .slider-btn {
    font-size: 20px;
    color: white;
    background: var(--primary-color);
    border-radius: 4px;
    padding: 5px 7px;
    cursor: pointer;
    transition: .2s ease-in-out;
}


.slider-buttons .slider-btn:hover {
    opacity: .5;
}
/* disabled-btn  */
.disabled-btn{
    pointer-events: none;
    opacity: .2;
}

.totalPages{
    float: right;
    clear: both;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--primary-color);
}



.loading-img{
    width: 250ox; 
    height: 84px;
}

.loading-wrapper{
    gap: 10px;
}