.Top-Products {
    margin-top: 15px;
}

.Top-Products-wrapper {
    padding: 5px auto;
    background: white;
    overflow-x: auto;
    justify-content: flex-start;
    position: relative;
    gap: 2px;
}


.Top-Products-wrapper .Top-Products-Items {
    height: fit-content;
    padding: 4px;
    margin-top: 3px;
    min-width: 170px;
    cursor: pointer;
}


.Top-Products-Items .product-img {
    height: 155px;
    width: 100%;
    transition: .2s ease-in-out;
}

.Top-Products-Items .product-img:hover {
    transform: scale(1.09);
}

.Top-Products-Items h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1;
    color: rgb(42, 41, 41);
}

.Top-Products-Items h3 {
    margin: 2px auto;
    font-weight: 500;
    font-size: 17px;
}

.Top-Products-Items p {
    line-height: 1.1;
    font-size: 14px;
}

 

.slider-icn-wrapper {
    float: right;
    margin-bottom: 7px;
}

.slider-icn-wrapper{
    gap: 7px;
}

.slider-buttons .slider-btn {
    font-size: 20px;
    color: white;
    background: var(--primary-color);
    border-radius: 4px;
    padding: 5px 7px;
    cursor: pointer;
    transition: .2s ease-in-out;
}


.slider-buttons .slider-btn:hover{
    opacity: .5;
}